<footer class="layout-footer">
    <p>Made with <i class="gw2-karma"></i> by <strong>Pandraghon#3647</strong>.</p>
    <p>Icons and background are © ArenaNet, Inc. All rights reserved.</p>
    <p>Un problème ou une question ? Créez un nouveau <a href="https://github.com/gw2ocs/gw2trivia/issues" rel="noreferrer" target="_blank"><i class="mdi mdi-github" aria-hidden="true"></i> ticket</a> ou venez en parler sur le <a href="https://discord.gg/YpcMnDY" rel="noreferrer" target="_blank"><i class="mdi mdi-discord" aria-hidden="true"></i> Discord</a> de Questions pour un Quaggan dans le channel #support.</p>
    <p><a href="/about/legal">Mentions légales</a> | <a href="/about/support">Soutenir GW2Trivia</a> | <a href="/about/projects">Autres projets</a></p>
</footer>
