<% include announcements %>
<header class="layout-header">
    <h1>
        <a href="/">
            GW2Trivia
        </a>
        <small class="main-header-subtitle">
            Jeu de culture générale sur l'univers de Guild Wars
        </small>
    </h1>
    <% include navigation %>
</header>
