<nav class="layout-nav">
    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <li itemprop="name"><a href="/" id="nav-home" accesskey="P" itemprop="url">Présentation</a></li>
        <li itemprop="name"><a href="/questions" id="nav-questions" accesskey="Q" itemprop="url">Questions</a></li>
        <li itemprop="name"><a href="/articles" id="nav-articles" accesskey="A" itemprop="url">Articles</a></li>
    </ul>
</nav>

<nav class="user-nav">
	<ul>
		<li id="login-link">
			<a href="/login" id="nav-login">
				<i class="gw2-game-menu-edit-account"></i>
				Se connecter
			</a>
		</li>
		<li id="profile-link" hidden>
			<a href="#" id="nav-profile" alt="Profil">
				<span class="user user-card-small">
					<img class="user-avatar"/>
					<span class="user-name"></span>
				</span>
			</a>
		</li>
		<li id="logout-link" hidden>
			<a href="/logout" id="nav-logout">
				<i class="gw2-game-menu-log-out"></i>
				Se déconnecter
			</a>
		</li>
		<li id="theme-link">
			<button type="button" class="toggle-theme">
                    <i class="mdi mdi-theme-light-dark"></i>
                </button>
		</li>
	</ul>
</nav>
