# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.drizzle
dist

# IDE files
.vscode/
.idea/
.fleet
.vs/

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store

# Filestore
**/filestore/**
!**/filestore/**/
!.gitkeep

# Local env files
.env
.env.*
!.env.example
!.env.default
