<!DOCTYPE html>
<html lang="fr">
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>
    <main class="layout-main">
		<article class="layout-block error-page">
			<h2>Qoo ! Quaggan est perdu !</h2>
			<img src="/img/bubble.jpg" alt="Quaggan dans une bulle"/>
		</article>
    </main>
    <% include ./partials/templates %>

    <% include ./partials/footer %>
  </body>
</html>
