<!DOCTYPE html>
<html lang="fr">
<% include partials/head %>
<body>
<% include partials/header %>

<main class="layout-main">
    <article class="home-introduction">
        <section class="home-ogden">
            <img src="/img/ogden.png" alt="Ogden Guéripierre" title="Ogden Guéripierre" height="400px" width="261px"
                 loading="lazy"/>
        </section>
        <section class="home-dialogue">
            <p>Bienvenue !</p>
            <p>
                Je suis <a href="https://wiki-fr.guildwars2.com/wiki/Ogden_Gu%C3%A9ripierre" rel="noreferrer"
                           target="_blank">Ogden Guéripierre</a>, le dernier nain interagissant avec les races de la
                surface de la Tyrie.<br/>
                Plutôt que de suivre mes frères dans la bataille dans les Profondeurs de la Tyrie, j'ai préféré rester à
                la surface afin d'aider le Prieuré de Durmand en tant que recueil de connaissances sur les Dragons
                Ancestraux.
            </p>
	    <p>
		Lorsque le temps me le permet, j'instruis les nouvelles générations en leur posant des questions sur notre univers afin d'éveiller leur curiosité.<br/>
                Tu souhaites participer à ce jeu ? Rejoins-nous sur le Discord de <a href="https://discord.gg/YpcMnDY" rel="noreferrer" target="_blank">Questions
                    pour un Quaggan</a>.
            </p>
            <p>
                Grâce à mes amis de toutes les races, j'ai actuellement recueilli <span id="question-count"></span>
                questions.<br/>
                Tu désires soumettre une nouvelle question ? Rien de plus simple, il suffit de <a href="/login">s'identifier
                    avec son compte Discord</a> et d'aller dans la section des <a href="/questions/suggestions">
                    suggestions</a>.
            </p>
        </section>
    </article>
    <section class="home-questions">
        <article id="last-questions">
		<header class="article-header"><a href="/questions?direction=DESC&validated=1">Dernières questions :</a></header>
            <section class="question-container" data-validated="1" data-limit="3" data-orderby="CREATED_AT_DESC"
                    data-pagination="0"></section>
        </article>
        <article id="last-questions-to-validate">
		<header class="article-header"><a href="/questions?direction=DESC&validated=0">Dernières suggestions :</A></header>
            <section class="question-container" data-validated="0" data-limit="3" data-orderby="CREATED_AT_DESC"
                    data-pagination="0"></section>
        </article>
    </section>
</main>

<script>
	fetch('/api/graphql', {
		method: "post",
		headers: {
			'Accept': 'application/json',
			'Content-Type': 'application/json'
		},
		body: JSON.stringify({
			query: `{
                  allQuestions(filter: { validated: { isNull: false } }) {
                    totalCount
                  }
                }`
		})
	})
		.then(response => response.json())
		.then(data => {
			const count = data.data.allQuestions.totalCount;
			document.getElementById('question-count').innerText = count;
		});
</script>

<% include partials/templates %>

<% include partials/footer %>

</body>
</html>
