<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		  <article-container data-mode="edit"></article-container>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
