<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
      <section class="action-container">
	      <a href="/articles/create" class="action-new-article" title="Ajouter un article"><i class="mdi mdi-plus-thick"></i> article</a>
      </section>
		  <article-container data-mode="list"></article-container>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
