<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		<article class="layout-block page">
			<h2>Mentions légales</h2>
			<p class="secondary-data">En vigueur au 27/08/2018.</p>
			<p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="https://gw2trivia.com">GW2Trivia</a> les informations suivantes :</p>

			<h3>Version humaine</h3>
			<ul>
				<li>Aucun outil d'anylse d'audience (comme Google Analytics) n'est utilisé sur GW2Trivia.</li>
				<li>Les cookies sont uniquement utilisés pour vous garder connecté à votre compte.</li>
				<li>Aucune de vos données personnelles n'est conservée. Une adresse email valide est demandée lors de l'identification par Discord afin de se protéger des utilisateurs fantômes, mais n'est en aucun cas utilisée par le site.</li>
			</ul>

			<h3>Informations légales</h3>
			<dl>
				<dt>Site (ci-après "le Site")</dt>
				<dd>GW2Trivia</dd>

				<dt>Editeur (ci-après "l'Editeur")</dt>
				<dd>GW2Trivia est représenté par une personne physique :
					<dl>
						<dt>Représentant</dt>
						<dd>Sylvain Albasser</dd>

						<dt>Adresse email</dt>
						<dd><a href="mailto:contact@gw2trivia.com">contact@gw2trivia.com</a></dd>
					</dl>
				</dd>

				<dt>Hébergeur (ci-après "l'Hébergeur")</dt>
				<dd>Le site GW2Trivia est hébergé chez l'Editeur.</dd>
			</dl>

			<h3>Présentation</h3>
			<p>Est désigné ci-après : Utilisateur, tout internaute se connectant et utilisant le site susnommé : <a href="https://gw2trivia.com">GW2Trivia</a>.</p>
			<p>Le Site regroupe un ensemble de services, dans l'état, mis à la disposition des utilisateurs. Il est ici précisé que ces derniers doivent rester courtois et faire preuve de bonne foi tant envers les autres utilisateurs qu'envers le webmaster du Site. Le Site est mis à jour régulièrement par l'Editeur.</p>
			<p>L'Editeur s’efforce de fournir sur le Site des informations les plus précises possibles (sous réserve de modifications apportées depuis leur mise en ligne), mais ne saurait garantir l'exactitude, la complétude et l'actualité des informations diffusées sur son site, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations. En conséquence, l'utilisateur reconnaît utiliser ces informations données (à titre indicatif, non exhaustives et susceptibles d'évoluer) sous sa responsabilité exclusive.</p>

			<h3>Accès au site</h3>
			<p>Le Site est par principe accessible aux utilisateurs 24h/24, 7j/7, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou en cas de force majeure. En cas d’impossibilité d’accès au service, l'Editeur s’engage à faire son maximum afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. N’étant soumis qu’à une obligation de moyen, l'Editeur ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du service.</p>

			<h3>Collecte des données</h3>
			<p>Le Site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>

			<h3>Cookies</h3>
			<p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation. En naviguant sur le site, il les accepte. L’Utilisateur pourra les désactiver par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

			<h3>Contenu</h3>
			<p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner le Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</p>
			<p>Ils sont la propriété pleine et entière de l'Editeur, d’ArenaNet ou de ses partenaires. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l'accord préalable et écrit de l'Editeur, sont strictement interdites. Le fait pour l'Editeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>
		</article>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
