<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		<article class="layout-block page">
      <h2>Partenaires GW2Trivia</h2>

      <p>Voici des personnes contribuant à la création de contenu autour de l'univers de Guild Wars et participant à l'activité du projet de GW2Trivia.</p>
      
      <h3>Historien Atis</h3>
      <p></p>
      <ul>
        <li>
          <i class="mdi mdi-youtube"></i> Youtube : 
          <a href="https://www.youtube.com/c/HistorienAtis">Historien Atis</a>
        </li>
      </ul>

      <h3>Zori</h3>
      <p></p>
      <ul>
        <li>
          <i class="mdi mdi-youtube"></i> Youtube : 
          <a href="https://www.youtube.com/c/zorileconteurnain">Zori</a>
        </li>
        <li>
          <i class="mdi mdi-book-open-page-variant"></i> Romans :
          <a href="https://www.wattpad.com/user/Conteur_Zori">La Rôdeuse d'Ascalon</a>
        </li>
      </ul>

      <h3>Moracle</h3>
      <p></p>
      <ul>
        <li>
          <i class="mdi mdi-cards"></i> Jeu :
          <a href="https://tabletopia.com/playground/guild-wars-tcg-cs9fm7/play-now">GUILD WARS Card Battle Game</a>
        </li>
      </ul>

      <h3>PixelCuiCui</h3>
      <p></p>


      <p class="secondary-data">Si vous pensez que votre nom devrait se trouver sur cette page, merci de contacter Babylon ou Pandraghon.</p>
		</article>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
