<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		<article class="layout-block page">
      <h2>Partenaires GW2Trivia</h2>

      <p>Voici des personnes contribuant à la création de contenu autour de l'univers de Guild Wars et participant à l'activité du projet de GW2Trivia.</p>
      
      <h3>Historien Atis</h3>
      <p></p>
      <ul>
        <li>
          <i class="mdi mdi-youtube"></i> Youtube : 
          <a href="https://www.youtube.com/c/HistorienAtis">Historien Atis</a>
        </li>
      </ul>

      <h3>Zori</h3>
      <p></p>
      <ul>
        <li>
          <i class="mdi mdi-youtube"></i> Youtube : 
          <a href="https://www.youtube.com/c/zorileconteurnain">Zori</a>
        </li>
        <li>
          <i class="mdi mdi-book-open-page-variant"></i> Romans :
          <a href="https://gw2trivia.com/novels">La Rôdeuse d'Ascalon</a>
        </li>
      </ul>

      <h3>Moracle</h3>
      <p></p>
      <ul>
        <li>
          <i class="mdi mdi-cards"></i> Jeu :
          <a href="https://tabletopia.com/playground/guild-wars-tcg-cs9fm7/play-now">GUILD WARS Card Battle Game</a>
        </li>
      </ul>

      <!-- <h3>PixelCuiCui</h3>
      <p></p> -->


      <h2>Quaggan Squad</h2>

      <p>La chaine Twitch QuestionsPourUnQuaggan est une chaine communautaire. Voici les personnes l'animant, en plus de leurs chaines respectives :</p>

      <h3>Jeepyto</h3>
      <p>Joueur de 33 ans, jouant a Guild Wars 1 et 2, Assassin's Creed, Fortnite et d'autres jeux ainsi que très grand fan de Dragon ball, Naruto.</p>
      <ul>
        <li>
          Types de contenu : 
          Guild Wars 1 (donjons, histoire, HM, découverte chill, ...), Guild Wars 2 (Raid, Donjons, World Boss, histoire, Fractales, Exploration, ...), Assassin's Creed, Days Gone, Star Wars, Fortnite, ...
        </li>
        <li>
          <i class="mdi mdi-twitch"></i> Twitch :
          <a href="https://www.twitch.tv/jeepyto_sajkrohn">jeepyto_sajkrohn</a>
        </li>
        <li>
          <i class="mdi mdi-youtube"></i> Youtube : 
          <a href="https://www.youtube.com/@Jeepyto_Sajkrohn">Jeepyto_Sajkrohn</a>
        </li>
        <li>
          <i class="mdi mdi-tiktok"></i> TikTok :
          <a href="https://www.tiktok.com/@Jeepyto_85">@Jeepyto_85</a>
        </li>
      </ul>

      <h3>Neko-Sama</h3>
      <ul>
        <li>
          <i class="mdi mdi-twitch"></i> Twitch :
          <a href="https://www.twitch.tv/lyuda_neko">lyuda_neko</a>
        </li>
      </ul>

      <h3>Séda</h3>
      <ul>
        <li>
          <i class="mdi mdi-twitch"></i> Twitch :
          <a href="https://www.twitch.tv/seda_olfavrel">seda_olfavrel</a>
        </li>
      </ul>

      <h3>ShaKen Fyerlam</h3>
      <p>Plongez dans l'univers fantastique de Guild Wars avec les Chroniques de Fyerlam. Rejoignez-moi pour des moments de partage, de rires et d'émotions fortes alors que nous parcourons la Tyrie à la découverte de ses mystères et de ses dangers. Préparez-vous à vivre une aventure immersive à la Fyerlam !</p>
      <ul>
        <li>
          Types de contenu : 
          histoire de Guild Wars 1 et Guild Wars 2, PvE principalement, en mode chill, trucs et astuces
        </li>
        <li>
          <i class="mdi mdi-twitch"></i> Twitch :
          <a href="https://www.twitch.tv/fyerlam/">fyerlam</a>
        </li>
        <li>
          <i class="mdi mdi-youtube"></i> Youtube : 
          <a href="https://www.youtube.com/@Fyerlam">Fyerlam</a>
        </li>
        <li>
          <i class="mdi mdi-instagram"></i> Instagram :
          <a href="https://www.instagram.com/leschroniquesdefyerlam/">leschroniquesdefyerlam</a>
        </li>
        <li>
          <i class="mdi mdi-butterfly"></i> BlueSky :
          <a href="https://bsky.app/profile/shakenfyerlam.bsky.social">shakenfyerlam.bsky.social</a>
        </li>
      </ul>


      <p class="secondary-data">Si vous pensez que votre nom devrait se trouver sur cette page, merci de contacter Babylon ou Pandraghon.</p>
		</article>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
