<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		<article class="layout-block page">
      <h2>Autre projets</h2>

      <p>Voici la liste des autres projets dans l'univers de Guild Wars 2 :</p>
      <ul>
        <li><a href="https://gw2icon.com/" target="_blank">GW2Icon</a> <a href="https://github.com/gw2ocs/gw2icon" rel="noreferrer" target="_blank">[<i class="mdi mdi-github"></i>]</a> : une lib pour inclure les icônes de GW2 dans des pages web.</li>
        <li><a href="https://gw2achievements.com/" target="_blank">GW2Achievements</a> <a href="https://github.com/gw2ocs/gw2achievements" rel="noreferrer" target="_blank">[<i class="mdi mdi-github"></i>]</a> : un générateur de succès de Guild Wars 2.</li>
      </ul>
		</article>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
