<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		<article class="layout-block page">
      <h2>Soutenir GW2Trivia</h2>

      <p>Vous souhaitez soutenir ces pauvres Draguerres qui travaillent jours et nuits dans leurs grottes afin de maintenir ce projet (le site GW2Trivia, le Discord Questions pour un Quaggan, le bot Ogden Guéripierre) ?</p>
      <p>Vous souhaitez soutenir cet Asura bien au chaud dans sa coterie qui cherche de temps en temps à améliorer la forme et le contenu de ce projet ?</p>

      <p>Voici les différents moyens de les aider (pensez à indiquer votre nom de compte Discord, par ex. Pandraghon#3647, dans la mesure du possible) :</p>

      <h3>Mécènat</h3>
      <p>Votre aide financière permet de payer les charges du serveur et d'organiser des concours.</p>
      <ul>
        <li>Paypal : <a href="https://paypal.me/pandraghon?locale.x=fr_FR" rel="noreferrer" target="_blank">https://paypal.me/pandraghon</a></li>
        <li>Patreon : <a href="https://www.patreon.com/pandraghon" rel="noreferrer" target="_blank">https://www.patreon.com/pandraghon</a></li>
        <li>Github Sponsor : <a href="https://github.com/gw2ocs/gw2trivia" rel="noreferrer" target="_blank">https://github.com/gw2ocs/gw2trivia</a></li>
      </ul>

      <h3>Partages</h3>
      <p>En partageant ce projet à d'autres personnes, cela lui donne plus de visibilité.</p>

      <h3>Contributions</h3>
      <p>En proposant des <a href="/questions">questions</a> ou en rédigeant des <a href="/articles">articles</a>, vous participez à l'élaboration et l'enrichissement du contenu.</p>
      <p>Il est également possible d'apporter des corrections ou des améliorations directement dans le code source de :</p>
      <ul>
        <li><i class="mdi mdi-github"></i> GW2Trivia : <a href="https://github.com/gw2ocs/gw2trivia" rel="noreferrer" target="_blank">https://github.com/gw2ocs/gw2trivia</a></li>
        <li><i class="mdi mdi-github"></i> Ogden Guéripierre : <a href="https://github.com/gw2ocs/ogden" rel="noreferrer" target="_blank">https://github.com/gw2ocs/ogden</a> (prochainement disponible)</li>
      </ul>


      <p class="secondary-data">Aucun Draguerre n'a été maltraité durant la production de ce projet.</p>
		</article>
    </main>
    <% include ../partials/templates %>

    <% include ../partials/footer %>
  </body>
</html>
