<!DOCTYPE html>
<html lang="fr">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="layout-main">
		<article class="layout-block page">
			<h2>Chronologie</h2>
			<div id='timeline-embed' style="width: 100%; height: 600px"></div>

		</article>
    </main>
    <% include ../partials/templates %>
	<link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
    <script type="text/javascript">
    timeline = new TL.Timeline('timeline-embed',
		'https://docs.google.com/spreadsheets/d/e/2PACX-1vQIAF2vfMsWadQvH-3MlUAFV-Ai-qW2BANnllso6YyBCmiHrbo43bsI0f2CmHGk5w/pubhtml', {
		language: 'https://gist.githubusercontent.com/Pandraghon/436757d0e23a62b10fc07ede201ddacb/raw/47874e8515c3c1eeef2225ac151996b5c38ae468/timeline.json',
		initial_zoom: 5
	});
    </script>

    <% include ../partials/footer %>
  </body>
</html>
